<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav #navBarElement data-toggled="false" data-transitionable="false">
        <div id="nav-logo-section" class="nav-section">
            <a routerLink="/main">
                <h1 data-value="yashaswi.dev" class="titleLogoH1" #h1Element (mouseover)="onMouseOver($event)">
                    yashaswi.dev
                </h1>
            </a>
        </div>
        <div id="nav-mobile-section">
            <div id="nav-link-section" class="nav-section">
                <a routerLink="/about">ABOUT</a>
                <a href="https://drive.google.com/file/d/1wCSV_n_zM6cWn7FLzhpTS1z70M5SGxTk/view?usp=sharing"
                    target="_blank">RESUME</a>
            </div>
            <div id="nav-social-section" class="nav-section">
                <a href="https://www.linkedin.com/in/yashaswi-poddar/" target="_blank"><fa-icon
                        class="linkedinIcon fa-2x" [icon]="falinkedin"></fa-icon></a>
                <a href="https://github.com/whateverhappenshappens" target="_blank"><fa-icon class="githubIcon fa-2x"
                        [icon]="fagithub"></fa-icon></a>
                <a href="https://leetcode.com/endure/" target="_blank"><fa-icon class="leetcodeIcon fa-2x"
                        [icon]="faleetcode"></fa-icon></a>
            </div>
            <div id="nav-contact-section" class="nav-section">
                <a routerLink="/contact">GET IN TOUCH</a>
            </div>
        </div>
        <button id="nav-toggle-button" type="button" (click)="toggleNav()">
            <span>Menu</span>
            <fa-icon class="menuIcon fa" [icon]="fabars"></fa-icon>
        </button>
    </nav>
    <main>
        <section class="section--contact wf-section">
            <div class="page-padding">
                <div class="container--large w-container">
                    <div class="contact-content__wrapper  wrapper">
                        <div class="contact-title__wrapper left-column">
                            <div class="contact-title">
                                GET IN TOUCH
                            </div>
                        </div>
                        <div class="contact-form__wrapper right-column">
                            <div class="contact-form form-wrapper ">
                                <form id="email-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                    <div class="form-item">
                                        <label class="form-label" for="fullName">Full Name</label>
                                        <input class="form-field" type="text" id="fullName" formControlName="fullName"
                                            placeholder="What is your name ?">
                                        <div
                                            *ngIf="contactForm.get('fullName').invalid && contactForm.get('fullName').touched">
                                            <div *ngIf="contactForm.get('fullName').hasError('required')">Full Name is
                                                required</div>
                                            <div *ngIf="contactForm.get('fullName').hasError('alphabetsOnly')">{{
                                                contactForm.get('fullName').errors.alphabetsOnly.message }}</div>
                                        </div>
                                    </div>

                                    <div class="form-item">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-field" type="email" id="email" formControlName="email"
                                            placeholder="Enter your email">
                                        <div
                                            *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched">
                                            <div *ngIf="contactForm.get('email').hasError('required')">Email is required
                                            </div>
                                            <div *ngIf="contactForm.get('email').hasError('email')">Invalid email format
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-item">
                                        <label class="form-label" for="comment">Message</label>
                                        <textarea class="form-field message" id="comment" formControlName="comment"
                                            placeholder="Write your message...."></textarea>
                                        <div
                                            *ngIf="contactForm.get('comment').invalid && contactForm.get('comment').touched">
                                            <div *ngIf="contactForm.get('comment').hasError('required')">Comment is
                                                required</div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <button class="btn btn-purple" type="submit"
                                            [disabled]="contactForm.invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
