:host {
    --background-color: #060b19;
    --border-color: #fff;
    --highlight-color: #7e57c2;
}
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--highlight-color);
}