@media screen and (max-width:767px) {
    .heading-huge__wrapper.is--mobile {
    display: block;
}
.texture--noise.is--about {
    margin-left: -2.4rem;
}
.heading-huge__wrapper {
    display: none;
}
.heading--huge {
    font-size: 70px;
    letter-spacing: -1px;
    line-height: 77px;
}
.page-padding {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
h2 {
    font-size: 51.2px;
    line-height: 56px;
}
.about-experience-card__wrapper{width: 70vw;height: 100%;overflow: auto;padding: .2rem;max-height: 25rem;}

.padding--bottom.padding--custom1 {
    padding-bottom: 12rem;
}
}