.about_content__grid {
    position: relative;
    z-index: 4;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 11rem;
    margin-right: 4rem;
    margin-left: 2rem;
    align-items: start;
}

.about-content__wrapper {
    margin-top: 8rem;
}

.about-content__img-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 72rem;
    border-top-left-radius: 132rem;
    border-top-right-radius: 140rem;
}

.about-content__img-text-wrapper {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    height: 8rem;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .02);
    backdrop-filter: blur(6px);
}